:root {
    --sp-0: 0px;
    --sp-1: 4px;
    --sp-2: 8px;
    --sp-3: 12px;
    --sp-4: 16px;
    --sp-5: 20px;
    --sp-6: 24px;
    --sp-7: 32px;
    --sp-8: 40px;
    --sp-9: 48px;
    --sp-10: 64px;
    --width-container: 700px;
    --background-body: #ecf2f4;
    --color-body: #000;
    --color-link: #0459da;

    --color-light: #6d6d6d;

    --border-radius: var(--sp-1);

    --border-input: 1px solid #ced4da;
    --border-input-active: 4, 89, 218;

    --input-primary: #0459da;
    --input-primary-text: #fff;
    --input-light: #e8f2fa;
    --input-light-text: #5187b3;

    --box-color: #fff;

    --color-red: 255, 0, 0;
    --color-green: 0, 128, 0;
}

*,
:after,
:before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', -apple-system, Segoe UI, sans-serif;
    font-size: 1.6rem;
    background-color: var(--background-body);
    color: var(--color-body);
    margin: 0;
}

a {
    color: var(--color-link);
    text-decoration: none;
}

.container {
    max-width: var(--width-container);
    padding: 0 1.5rem;
    margin: 0 auto;
}

.title {
    text-align: center;
}

@import './buttons';
